In [16]:

import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

from google.colab import files
uploaded = files.upload()

Saving sample_submission_.csv to sample_submission_ (1).csv

In [17]:
melbourne_data =pd.read_csv('sample_submission_.csv')
melbourne_data.columns

Index(['LotArea', 'Price'], dtype='object')

In [18]:
melbourne_data=melbourne_data.dropna(axis=0)
y=melbourne_data.LotArea
melbourne_features=['Price']
x=melbourne_data[melbourne_features]
x.describe()

               Price
count      50.000000
mean   171458.879550
std     16322.151092
min    145291.245000
25%    158007.653425
50%    172642.785850
75%    185650.132900
max    201740.620700

In [19]:
x.head()

         Price
0  169277.0525
1  187758.3940
2  183583.6836
3  179317.4775
4  150730.0800

In [23]:
melbourne_model = DecisionTreeRegressor(random_state=1)
melbourne_model.fit(x,y)
print(x.head())
print("Las predicciones son:")
print(melbourne_model.predict(x.head()))

         Price
0  169277.0525
1  187758.3940
2  183583.6836
3  179317.4775
4  150730.0800
Las predicciones son:
[ 8450.  9600. 11250.  9550. 14260.]

In [24]:
predicted_home_prices = melbourne_model.predict(x)
print("Error medio absoluto (primer entrenamiento):")
mean_absolute_error(y,predicted_home_prices)

Error medio absoluto (primer entrenamiento):

0.0

In [25]:
train_x,val_x,train_y,val_y=train_test_split(x,y,random_state=0) 
melbourne_model=DecisionTreeRegressor() 
melbourne_model.fit(train_x,train_y) 
val_predictions=melbourne_model.predict(val_x) 
print("Error medio absoluto (segundo entrenamiento):")
print(mean_absolute_error(val_y,val_predictions))

Error medio absoluto (segundo entrenamiento):
4464.615384615385